---
import Layout from "../layouts/Layout.astro";
import Section from "../layouts/Section.astro";

import Card from "../components/Card.astro";
import SectionHeader from "../components/SectionHeader.astro";
import Profile from "../components/Profile.astro";

import data from "../data.json";
import profileImage from "../assets/profile-image.jpg";
---

<Layout title="Rishabh Jain | Portfolio">
  <Section>
    <Profile
      src={profileImage}
      variant="large"
      subTitle="Hey, I’m Rishabh Jain. I'm a Frontend Developer (WDE-2) based in India."
      description="I have 4.5+ years of experience building scalable, config-driven UI platforms. I specialize in Vue, React, and micro-frontend architectures."
    />
    <a href="mailto:rishabh2401jain@gmail.com" class="paragraph links">Get in touch →</a>
  </Section>

  <!-- EXPERIENCE -->
  <Section>
    <SectionHeader
      title="Experience"
      subTitle="See all"
      variant="large"
      linkTo="/experience"
    />
    {
      data.experience.map(({ title, desc, route, year }) => (
        <Card
          linkTo={route}
          title={title}
          description={desc}
          year={year}
          className="my-1"
        />
      ))
    }
  </Section>

    <!-- PROJECTS -->
  <Section>
    <SectionHeader
      title="Projects"
      subTitle="See all"
      variant="large"
      linkTo="/projects"
    />
    {
      data.projects.map(({ title, desc, route, year }) => (
        <Card
          linkTo={route}
          title={title}
          description={desc}
          year={year}
          className="my-1"
        />
      ))
    }
  </Section>
</Layout>

<style></style>
